%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Erlang Compiler ==

%% Erlang compiler options
% {erl_opts, [no_debug_info, {i, "deps/couchdb/src/couchdb"}]}.

% {sub_dirs, ["couchdb"]}.

%% This plugin allows you to compile Elixir files in your Erlang projects using Rebar.
{deps, [
          { elixir, "0.8.0.dev", {git, "git://github.com/elixir-lang/elixir"}}
       ]}.